@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  display: flex;
  width: 100%;
  height: 100%;
}

* {
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html {
  position: fixed;
}

@layer base {
  body {
    @apply text-gray-950 bg-white;
  }

  .input {
    @apply px-2 py-2 bg-transparent outline-none border border-gray-500 rounded-md;
  }
}
